{
    "token": "MzQzNjQ1NTc5NTAwNTg0OTYy.XrDbZg.N3U1j5oOdNqKz6cjhOQWNlbORKA",
    "directory" : "/mnt/d/downloaded_audio/",
    "download_archive" : "already_downloaded.txt"
    "audio_records" : "audio_list.csv"
    "options" : {
                    "download_archive" : directory+download_archive,
                    "outtmpl" : directory + "%(display_id)s.%(ext)s",
                    "format": "bestaudio/best",
                    "postprocessors": [{
                                        "key": "FFmpegExtractAudio",
                                        "preferredcodec": "mp3",
                                        "preferredquality" : "5"
                                      }]
                }
}