{
  "images": "/mnt/d/discord_bot_files/images/image.png",
  "token": "MzQzNjQ1NTc5NTAwNTg0OTYy.XrDbZg.N3U1j5oOdNqKz6cjhOQWNlbORKA",
  "model_weights":  "/mnt/d/discord_bot_files/model_weights/custom_model.h5",
  "youtube_dl": {
      "directory" : "/mnt/d/discord_bot_files/downloaded_audio/",
      "download_archive" : "already_downloaded.txt",
      "audio_records" : "audio_list.csv",
      "options" : {
                      "download_archive" : "/mnt/d/discord_bot_files/downloaded_audio/already_downloaded.txt",
                      "outtmpl" : "/mnt/d/discord_bot_files/downloaded_audio/%(display_id)s.%(ext)s",
                      "format": "bestaudio/best",
                      "postprocessors": [{
                                          "key": "FFmpegExtractAudio",
                                          "preferredcodec": "mp3",
                                          "preferredquality" : "5"
                                        }]
                  }
  }
}